<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>This is home page 2+ 3</h1>
    <!-- ejs tags(interpolation syntax concept) -->
    <h2>
        <%= 2+3*2 %>
    </h2>
    <h3>
       tags ke andar string de skte hai <br>
        <%= "amit" .toUpperCase() %>
    </h3>
    <h3>
        tags ke andar array de skte hai  <br>
        <%= ["amit","priya","love"][2] %>
    </h3>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam similique corporis fugit rem expedita ea
        error temporibus totam, tempora necessitatibus in modi consequatur nam?
    </p>

    <button>click me</button>
</body>

</html>