.Product{
    border: 5px solid Black;
    margin-top: 5px;
    border-radius: 2em;
    /* background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */

}
.product{
    border: 4px solid Black;
    border-radius: 2em;
    
}